/* Main Typography*/
$roboto: 'Roboto',
sans-serif;

/*Font Weight*/
$light: 300;
$regular: 400;
$bold: 500;
$extra-bold: 700;

/*Font Size*/
$extra-large: 7rem;
$large: 3rem;
$medium: 2rem;
$small: 1rem;